<h2 class="underscore content_hd">
  <%=tr('Welcome to Tr8n Translation Engine Examples Application') %>
</h2>
<div class="content_bd">
  <h3><%=tr("If you are trying out Tr8n functionality, here are some helpful links to get you started:")%></h3>
  <ul style="list-style-type:upper-roman; margin-left:30px; font-size:14px;">
    <li><%= link_to(tr("Register for a test translator account (this account is only used for testing this site)"), "/login/register")%></li>
    <li><%= tr("Change your language and enable inline translations by using the language selector in the top right corner")%></li>
		<li><%= link_to(tr("Take a look at your dashboard and see your translation progress"), "/tr8n/dashboard")%></li>
    <li><%= link_to(tr("View and translate phrases in the bulk mode"), "/tr8n/phrases")%></li>
    <li><%= link_to(tr("View and search through translations"), "/tr8n/translations")%></li>
    <li><%= link_to(tr("See translator awards"), "/tr8n/awards")%></li>
    <li><%= link_to(tr("Participate in translator discussions"), "/tr8n/forum")%></li>
    <li><%= link_to(tr("View help"), "/tr8n/help")%></li>
  </ul>

  <br><br>
	<h3><%=tr("If you are a RoR developer and would like to integrate Tr8n into your own application, here are some of the steps to get you started:")%></h3>
	<ul style="list-style-type:upper-roman; margin-left:30px; font-size:14px;">
		<li><%=tr("Download the source code from github: ")%> <%=link_to("https://github.com/berk/tr8n", "https://github.com/berk/tr8n")%></li>
    <li><%=tr("Read the integration guide: ")%> <%=link_to("Tr8n Translation Engine Integration Guide", "/tr8n/home")%></li>
    <li><%=tr("Read rules engine specifications: ")%> <%=link_to("Tr8n Rules Engine Configuration Guide", "/tr8n/home/rules")%></li>
	</ul>
	
	<div style="border-top:1px solid #ccc; margin-top:20px;">
	</div>	
	
	<div style="padding-top:10px; color:grey">
	  Disclaimer: 
		This page and many other pages on this site are translatable (except for this text). 
		We are fully aware that some users are going to try to vandalize the translations.
	  So if you are a registered user and you see some translations that are not supposed to be here, 
		report them using the inline translation window and they will dissapear off the site. 
	</div>
	
</div>




